<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Taschenrechner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollY="false">
  <ion-grid class="button-grid">
    <div class="display">
      {{display}}
    </div>
    <div class="row">
      <ion-button size="large" mode="ios" color="medium" (click)="clear()">AC</ion-button>
      <ion-button size="large" mode="ios" color="medium" (click)="click('(')">(</ion-button>
      <ion-button size="large" mode="ios" color="medium" (click)="click(')')">)</ion-button>
      <ion-button size="large" mode="ios" class="lastRow" (click)="click('/')">/</ion-button>
    </div>
    <div class="row">
      <ion-button size="large" mode="ios" color="light" (click)="click('7')">7</ion-button>
      <ion-button size="large" mode="ios" color="light" (click)="click('8')">8</ion-button>
      <ion-button size="large" mode="ios" color="light" (click)="click('9')">9</ion-button>
      <ion-button size="large" mode="ios" class="lastRow" (click)="click('*')">x</ion-button>
    </div>
    <div class="row">
      <ion-button size="large" mode="ios" color="light" (click)="click('4')">4</ion-button>
      <ion-button size="large" mode="ios" color="light" (click)="click('5')">5</ion-button>
      <ion-button size="large" mode="ios" color="light" (click)="click('6')">6</ion-button>
      <ion-button size="large" mode="ios" class="lastRow" (click)="click('-')">-</ion-button>
    </div>
    <div class="row">
      <ion-button size="large" mode="ios" color="light" (click)="click('1')">1</ion-button>
      <ion-button size="large" mode="ios" color="light" (click)="click('2')">2</ion-button>
      <ion-button size="large" mode="ios" color="light" (click)="click('3')">3</ion-button>
      <ion-button size="large" mode="ios" class="lastRow" (click)="click('+')">+</ion-button>
    </div>
    <div class="row">
      <ion-button size="large" mode="ios" color="light" class="longButton" (click)="click('0')">0</ion-button>
      <ion-button size="large" mode="ios" color="light" (click)="click('.')">,</ion-button>
      <ion-button size="large" mode="ios" class="lastRow" (click)="calculate()">=</ion-button>
    </div>
  </ion-grid>
</ion-content>